# Ignore artifacts:
!.env
!.env.dev 
!.env.production
!.env.staging
!.eslintrc.cjs 

.github
.gitignore
.gitmodules 
.husky 

.nvmrc 
.pnp.cjs 
.pnp.loader.mjs
.prettierignore
!.storybook
.vscode
.yarn
LICENSE
README.md
dist
!e2e-playwright
!.prettierrc
!index.html

nara-ui-library
node_modules
!package.json
!playwright.config.ts
public
!src
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!vitest.config.ts
yarn.lock
